.about_me {
  padding: $navHeightMin $sidePaddingMin;
  background: $mainYellow;
  &__cards {
    position: relative;
    width: 100%;
    min-height: 200px;
  }
  &__card {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    padding: 2rem;
    background: $plainWhite;
    font-size: 1.3rem;
    h3 {
      font-family: $rationale;
      text-align: center;
      color: #818181;
      letter-spacing: 2px;
    }
    p {
      color: $mainDark;
      line-height: 1.5;
      font-size: 1.2rem;
    }
  }
}
