.hero {
  background: $mainGrey;
  @include centerFlex(space-between, start);
  flex-direction: column;
  padding: 0 $sidePaddingMin;
  .hero__header {
    margin-top: $sidePaddingMin;
    min-width: calc(100% - 89.12px);

    header {
      position: relative;
      padding: 0 0 0 $titlePaddingMin;
      margin-bottom: 5px;
      height: $heroPhotoHeightMin - 30px;
      width: 100%;
      background: $plainWhite;
      @include centerFlex(center, start);
      flex-direction: column;
      .hero__image {
        position: absolute;
        top: 0;
        left: 100%;
      }
      .hero__title {
        font-size: $font-m;
      }
      .hero__title--red {
        color: $darkRed;
      }
    }
    .hero__subtitle {
      margin: 0;
      padding: 5px $titlePaddingMin;
      min-width: 150%;
      font-size: $font-s;
      font-family: $rationale;
      color: $plainWhite;
      background: $darkRed;
      opacity: 0.4;
    }
  }
  .hero-scroll {
    flex: 1;
  }
}
