.projects {
  background: $mainDark;
  padding: $navHeightMin $sidePaddingMin;
  .section_header {
    &__box {
      .title {
        color: $plainWhite;
        &:after {
          background: $mainDark;
        }
        &:before {
          background: $plainWhite;
        }
      }
    }
  }
  &__list {
    position: relative;
    text-align: center;
    overflow: hidden;
    height: 360px;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      height: 100%;
      overflow-y: scroll;
      scrollbar-width: none;
      text-align: center;
      .projects__item {
        position: relative;
        transition: all 0.5s ease-in-out;
        padding: 40px 0;
        opacity: 0.4;
        width: 80%;
        margin: 0 auto;
        .button {
          background: none;
          border-radius: 10px;
          padding: 10px;
          font-size: $font-s;
          margin: 15% 0;
          border: none;
          color: $mainGrey;
          letter-spacing: 3px;
          text-transform: lowercase;
          z-index: 2;
          transition: inherit;
          cursor: pointer;
        }
        .project {
          width: 100px;
          height: 100px;
          background: $darkRed;
          position: absolute;
          padding-bottom: 10px;
          @include centerFlex(space-around, flex-end);
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(0.7);
          opacity: 0;
          z-index: -1;
          transition: inherit;
          overflow: hidden;
          &::after {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            height: 100%;
            width: 100%;
            background: $mainDark;
            transition: transform 0.3s ease-in;
            transform: translateX(0);
          }
          &__link {
            text-decoration: none;
            color: $plainWhite;
            font-size: $font-xs;
            border: 1px solid $plainWhite;
            padding: 5px;
            border-radius: 5px;
          }
        }
      }

      .projects__item--active {
        transform: scale(1.15);
        opacity: 1;
      }
      .projects__item--standby {
        transform: scale(1.05);
        opacity: 0.7;
      }
    }
    ul::-webkit-scrollbar {
      display: none;
    }
  }
}
