.skills {
  background-color: $mainGrey;
  padding: $navHeightMin $sidePaddingMin;
  .section_header {
    &__box {
      .title {
        &:after {
          background: $mainGrey;
        }
        &:before {
          background: $plainWhite;
        }
      }
    }
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 10px;
  }
  &__box {
    @include centerFlex(center, center);
    flex-direction: column;
    height: 200px;
    overflow: hidden;
    // border-radius: 20px;
    box-shadow: $shadowGeneral;
    .skill__icon {
      transition: all 0.7s $cubic;
      position: relative;
      @include centerFlex(center, flex-end);
      background: $headerBlue;
      flex-grow: 0.5;
      width: 100%;
      text-align: center;
      z-index: 2;

      .icon {
        display: inline-block;
        padding: 8px;
        border-radius: 50%;
        background: inherit;
        transition: inherit;
        transform: scale(1) translateY(50%);
      }
      .skill__list {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        list-style: none;
        padding: 0;
        color: $mainGrey;
        text-transform: lowercase;
        font-size: 1.4rem;
        li {
          opacity: 0;
          transform: translateX(-100%);
          transition-property: all;
          transition-duration: 0.4s;
          pointer-events: none;
          transition-timing-function: ease-in-out;
          transition-delay: 0s;
        }
        li:nth-child(2) {
          transition-delay: 0.1s;
        }
        li:nth-child(3) {
          transition-delay: 0.2s;
        }
        li:nth-child(4) {
          transition-delay: 0.3s;
        }
      }
    }
    .skill__label {
      position: relative;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      flex-grow: 1;
      overflow: hidden;
      &::before,
      &::after {
        transition: opacity 0.3s ease-in-out;
        position: absolute;
        width: 100%;
      }
      &::after {
        opacity: 1;
        top: 2%;
        left: 2%;
        background: rgba(0, 0, 0, 0.6);
        padding-left: 5px;
        height: 20px;
        font-size: 1.2rem;
        color: $mainGrey;
        transform: rotate(90deg);
        transform-origin: 0;
      }
      &::before {
        content: '';
        opacity: 0;
        height: 100%;
        top: 0;
        left: 0;
        background: RGBA(92, 178, 227, 0.3);
      }
    }
    .skill__html {
      background-image: url('https://images.unsplash.com/photo-1527335988388-b40ee248d80c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ');
      &::after {
        content: 'HTML';
      }
    }
    .skill__css {
      background-image: url('https://images.unsplash.com/photo-1493408634262-dc0d878cd3dd?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ');
      &::after {
        content: 'CSS';
      }
    }
    .skill__js {
      background-image: url('https://images.unsplash.com/photo-1533709752211-118fcaf03312?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ');
      &::after {
        content: 'JAVASCRIPT';
      }
    }
    .skill__react {
      background-image: url('https://images.unsplash.com/photo-1485856407642-7f9ba0268b51?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ');
      &::after {
        content: 'REACT';
      }
    }
    .skill__tools {
      background-image: url('https://images.unsplash.com/photo-1453806839674-d1a9087ca1ed?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ');
      &::after {
        content: 'TOOLS';
      }
    }
    .skill__other {
      background-image: url('https://images.unsplash.com/photo-1455849318743-b2233052fcff?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ');
      &::after {
        content: 'OTHER';
      }
    }
  }
  &__box:nth-child(2),
  &__box:nth-child(5) {
    .skill__icon {
      background: $darkRed;
    }
  }
  &__box:nth-child(3),
  &__box:nth-child(4) {
    .skill__icon {
      background: darken($mainYellow, 10%);
    }
  }
  &__box:hover {
    .skill__icon {
      background: darken($headerBlue, 10%);
      flex-grow: 2;
      .icon {
        transform: scale(0.7) translateY(0);
        background: darken($headerBlue, 10%);
      }
      .skill__list {
        li {
          opacity: 0.7;
          transform: translateX(0);
        }
      }
    }
    .skill__label {
      &::after {
        opacity: 0;
      }
      &::before {
        opacity: 1;
      }
    }
  }
  &__box:nth-child(odd) {
    flex-direction: column-reverse;
    .skill__icon {
      align-items: flex-start;
      .icon {
        position: relative;
        transform: scale(1) translateY(-50%);
      }
      .skill__list {
        top: unset;
        bottom: 0;
      }
    }
  }
  &__box:nth-child(odd):hover {
    .skill__icon {
      .icon {
        transform: scale(0.7) translateY(0%);
      }
    }
  }
  &__box:hover:nth-child(2),
  &__box:hover:nth-child(5) {
    .skill__icon {
      background: darken($darkRed, 10%);
      .icon {
        background: darken($darkRed, 10%);
      }
    }
  }
  &__box:hover:nth-child(3),
  &__box:hover:nth-child(4) {
    .skill__icon {
      background: darken($mainYellow, 15%);
      .icon {
        background: darken($mainYellow, 15%);
      }
    }
  }
}

@media screen and (min-width: 425px) {
  .skills {
    &__container {
      grid-template-columns: repeat(2, 180px);
      justify-content: space-between;
      grid-row-gap: 80px;
    }
    &__box {
      height: 250px;
      .skill__icon {
        .skill__list {
          font-size: $font-s;
        }
      }
    }
  }
}
@media screen and (min-width: 600px) {
  .skills {
    &__container {
      grid-template-columns: repeat(3, 160px);
      max-width: 600px;
      margin: 0 auto;
    }
    &__box:nth-child(1),
    &__box:nth-child(4) {
      transform: translateY(0);
    }
    &__box:nth-child(2),
    &__box:nth-child(5) {
      transform: translateY(10%);
    }
    &__box:nth-child(3),
    &__box:nth-child(6) {
      transform: translateY(20%);
    }
  }
}
