@import './variables/base';
@import './variables/about_me';
@import './variables/colors';
@import './variables/contact';
@import './variables/fonts';
@import './variables/hero';
@import './variables/nav';
@import './variables/projects';
@import './components/section_header';
@import './components/nav';
@import './components//hero';
@import './components/about_me';
@import './components/skills';
@import './components/projects';
@import './components/contact';
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-family: $lato;
  main {
    position: relative;
    max-width: 100vw;
    overflow: hidden;
    padding-top: $navHeightMin;
  }
}
