@import './variables//variables';
@import './components/nav';
@import './components//hero';

* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
