// white spaces
$sidePaddingMin: 4rem;
$marginBot: 4rem;
// shadow
$shadowGeneral: 0px 4px 4px rgba(0, 0, 0, 0.25);

$cubic: cubic-bezier(0.6, -0.25, 0.41, 1.3);

// transitions
$transition: all 0.3s ease-in-out;

// radius
$cardsRadius: 21px;

//mixins ------------------------------------------------

@mixin centerFlex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
