$mainDark: #323232;
$mainGrey: #eaeaea;
$darkRed: #960707;
$lightBlue: #5cb2e3;
$blueButton: #5cb2e3;
$redButton: #ce5454;
$orangeButton: #f59a59;
$headerBlue: #2f80ed;
$mainYellow: #dac400;
$mainGreen: #84b105;
$plainWhite: #fff;
$backgroundSubtitle: rgb(235, 87, 87);
