$heroPhotoHeightMin: 214px;
$heroPhotoWidthMin: 89.12px;
$heroPhotoHeightMed: 413px;

$titlePaddingMin: 1.5rem;

$headerWidthMed: 275px;
$headerWidthL: 398px;
$headerWidthXL: 578px;

$headerMarginRight: 172px;

$subtitleWidthMed: 370px;
$subtitleWidthL: 550px;
$subtitleWidthXL: 750px;
