$headerWidthMin: 20.7rem;
$headerWidthMed: 40rem;

$headerHeightMin: 15rem;
$headerHeightMed: 30rem;

$titleFontSizeMin: 2rem;
$titleFontSizeMed: 2.8rem;

$subtitleFontSizeMin: 1.8rem;
$subtitleFontSizeMed: 2.5rem;

$paddingsHero: 10px;
