// colors -----------------------------------------------

$mainDark: #323232;
$mainGrey: #eaeaea;
$darkRed: #960707;
$lightBlue: #5cb2e3;
$headerBlue: #2f80ed;
$mainYellow: #dac400;
$plainWhite: #fff;
$backgroundSubtitle: rgb(235, 87, 87);
// fonts ------------------------------------------------
$lato: 'Lato', sans-serif;
$rationale: 'Rationale', sans-serif;

// sizes ------------------------------------------------

// ------ hero header
$headerWidthMin: 20.7rem;
$headerHeightMin: 15rem;
$titleFontSizeMin: 2rem;
$subtitleFontSizeMin: 1.8rem;
$paddingsHero: 10px;

// -------- sections
$headerFontSizeMin: 2rem;
$sidePadding: 4rem;
$paddingSectionHeaderMin: 0.8rem 1.3rem;

$navHeightMin: 9rem;
$iconMin: 3rem;

// -------- about me
$cardHeightMin: 28rem;

// shadows -----------------------------------------------
$shadowGeneral: 0px 4px 4px rgba(0, 0, 0, 0.25);

//mixins ------------------------------------------------

@mixin centerFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}
